# Docker artifacts
*.tar
*.tar.gz
bso-n02-oci/
tar-fix/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Local data (na potrzeby testow lokalnych)
data/
scans/
reports/
state/

# VM artifacts - NIGDY do gita
*.vdi
*.ova
*.vbox
bso-chr*

